[profile.dev]
split-debuginfo = 'unpacked'

[profile.release]
overflow-checks = true
panic           = 'unwind'

[profile.production]
codegen-units = 1
inherits      = 'release'
lto           = true

[workspace]
members = ['node/*', 'pallets/*', 'runtime/*', 'support', 'integration-tests']

[patch.crates-io]
orml-oracle                 = { git = 'https://github.com/open-web3-stack/open-runtime-module-library.git', rev = 'adc4feef3e2b312d45e1a931237e590cf0b44f03' }
orml-oracle-rpc             = { git = 'https://github.com/open-web3-stack/open-runtime-module-library.git', rev = 'adc4feef3e2b312d45e1a931237e590cf0b44f03' }
orml-oracle-rpc-runtime-api = { git = 'https://github.com/open-web3-stack/open-runtime-module-library.git', rev = 'adc4feef3e2b312d45e1a931237e590cf0b44f03' }
orml-traits                 = { git = 'https://github.com/open-web3-stack/open-runtime-module-library.git', rev = 'adc4feef3e2b312d45e1a931237e590cf0b44f03' }
orml-vesting                = { git = 'https://github.com/open-web3-stack/open-runtime-module-library.git', rev = 'adc4feef3e2b312d45e1a931237e590cf0b44f03' }
orml-xcm                    = { git = 'https://github.com/open-web3-stack/open-runtime-module-library.git', rev = 'adc4feef3e2b312d45e1a931237e590cf0b44f03' }
orml-xcm-support            = { git = 'https://github.com/open-web3-stack/open-runtime-module-library.git', rev = 'adc4feef3e2b312d45e1a931237e590cf0b44f03' }
orml-xtokens                = { git = 'https://github.com/open-web3-stack/open-runtime-module-library.git', rev = 'adc4feef3e2b312d45e1a931237e590cf0b44f03' }
