[profile.dev]
split-debuginfo = "unpacked"

[profile.release]
overflow-checks = true
panic           = 'unwind'

[profile.production]
inherits = "release"
lto = true
codegen-units = 1

[workspace]
members = ['node/*', 'pallets/*', 'runtime/*', 'integration-tests','support']