# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @backend-leads will be requested for review when 
# someone opens a pull request.
*                  @parallel-finance/backend-leads

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies github workflows files, only @workflows-owner and not 
# the global owner(s) will be requested for a review.
.github/workflows  @parallel-finance/workflows-owner
