relaychain:
  image: parallelfinance/polkadot:v0.9.12
  chain: kusama-local
  runtimeGenesisConfig:
    configuration:
      config:
        validation_upgrade_frequency: 1
        validation_upgrade_delay: 1
  flags:
    - --rpc-methods=unsafe
    - --no-beefy
    - --wasm-execution=compiled
    - --execution=wasm
    - -lxcm=trace
  nodes:
    - name: alice
    - name: bob
    - name: charlie
    - name: dave

parachains:
  - image: parallelfinance/parallel:latest
    chain:
      base: vanilla-dev
      collators:
        - alice
        - bob
        - charlie
      sudo: dave
    id: 2085
    parachain: true
    flags:
      - --rpc-methods=unsafe
      - --force-authoring
      - --wasm-execution=compiled
      - --execution=wasm
      - -lxcm=trace
      - -lloans=trace
    relaychainFlags:
      - --wasm-execution=compiled
      - --execution=wasm
      - --no-beefy
    nodes:
      - flags:
          - --alice
      - flags:
          - --bob
      - flags:
          - --charlie

  - image: parallelfinance/polkadot-collator:v0.9.12
    chain:
      base: statemine-dev
      collators:
        - alice
        - bob
        - charlie
      sudo: dave
    id: 1000
    parachain: true
    flags:
      - --rpc-methods=unsafe
      - --force-authoring
      - --wasm-execution=compiled
      - --execution=wasm
    relaychainFlags:
      - --wasm-execution=compiled
      - --execution=wasm
      - --no-beefy
    nodes:
      - flags:
          - --alice
      - flags:
          - --bob
      - flags:
          - --charlie
