version: "3"
services:
  node_alice:
    ports:
      - "30333:30333"
      - "9933:9933"
      - "9944:9944"
    image: alexcj96/rococo-v1:latest
    volumes:
      - "polkadot-data-alice:/data"
    command: polkadot --chain=/polkadot/rococo_local.json --alice -d /data --validator --rpc-cors all --unsafe-ws-external --node-key 0000000000000000000000000000000000000000000000000000000000000001
    networks:
      testing_net:
        ipv4_address: 172.28.1.1
    restart: always

  node_bob:
    depends_on:
      - node_alice
    ports:
      - "30344:30344"
      - "9935:9935"
      - "9945:9945"
    image: alexcj96/rococo-v1:latest
    volumes:
      - "polkadot-data-bob:/data"
    links:
      - "node_alice:alice"
    command: polkadot --chain=/polkadot/rococo_local.json --bob -d /data --validator --port 30344 --rpc-port 9935 --ws-port 9945 --bootnodes '/ip4/172.28.1.1/tcp/30333/p2p/12D3KooWEyoppNCUx8Yx66oV9fJnriXwCcXwDDUA2kj6vnc6iDEp'
    networks:
      testing_net:
        ipv4_address: 172.28.1.2
    restart: always

  node_collator:
    # Uncomment this to use local image
    # build:
    #   context: .
    depends_on:
      - node_alice
      - node_bob
    ports:
      - "30345:30345"
      - "9936:9936"
      - "9946:9946"
    image: alexcj96/parallel:latest
    volumes:
      - "polkadot-data-collator:/data"
    links:
      - "node_alice:alice"
    command: parallel -d /data --collator --alice --port 30345 --rpc-port 9936 --ws-port 9946 --parachain-id 200 --ws-external --rpc-cors all -- --chain=/parallel/rococo_local.json --bootnodes '/ip4/172.28.1.1/tcp/30333/p2p/12D3KooWEyoppNCUx8Yx66oV9fJnriXwCcXwDDUA2kj6vnc6iDEp'
    networks:
      testing_net:
        ipv4_address: 172.28.1.3
    restart: always

volumes:
  polkadot-data-alice:
  polkadot-data-bob:
  polkadot-data-collator:

networks:
  testing_net:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
