[package]
authors     = ['Parallel Team']
description = 'A decentralized lending protocol which allow users to earn "double interests" from staking and lending'
edition     = '2021'
homepage    = 'https://parallel.fi'
license     = 'Apache'
name        = 'runtime-common'
repository  = 'https://github.com/parallel-finance/parallel'
version     = '1.9.8'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
smallvec          = '1.6.1'

# Substrate dependencies
frame-support                              = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.36', default-features = false }
frame-system                               = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.36', default-features = false }
sp-core                                    = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.36', default-features = false }
sp-std                                     = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.36', default-features = false }
sp-runtime                                 = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.36', default-features = false }
pallet-assets                              = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.36', default-features = false }
pallet-balances                            = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.36', default-features = false }
pallet-timestamp                           = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.36', default-features = false }

# Polkadot dependencies
polkadot-runtime-common = { git = 'https://github.com/paritytech/polkadot.git', branch = 'release-v0.9.36', default-features = false }

# Frontier dependencies
fp-rpc                         = { version = '3.0.0-dev', default-features = false }
fp-self-contained              = { version = '1.0.0-dev', default-features = false }
# pallet-base-fee                = { version = '1.0.0', default-features = false }
# pallet-ethereum                = { version = '4.0.0-dev', default-features = false, features = ['forbid-evm-reentrancy'] }
pallet-evm                     = { version = '6.0.0-dev', default-features = false, features = ['forbid-evm-reentrancy'] }
pallet-evm-precompile-blake2   = { version = '2.0.0-dev', default-features = false }
pallet-evm-precompile-bn128    = { version = '2.0.0-dev', default-features = false }
pallet-evm-precompile-dispatch = { version = '2.0.0-dev', default-features = false }
pallet-evm-precompile-ed25519  = { version = '2.0.0-dev', default-features = false }
pallet-evm-precompile-modexp   = { version = '2.0.0-dev', default-features = false }
pallet-evm-precompile-sha3fips = { version = '2.0.0-dev', default-features = false }
pallet-evm-precompile-simple   = { version = '2.0.0-dev', default-features = false }

# Parallel dependencies
pallet-evm-precompile-assets-erc20   = { path = '../../precompiles/assets-erc20', default-features = false }
pallet-evm-precompile-balances-erc20 = { path = '../../precompiles/balances-erc20', default-features = false }
primitives                           = { package = 'parallel-primitives', path = '../../primitives', default-features = false }

[features]
default            = ['std']
std                = [
    'frame-support/std',
    'frame-system/std',
    'sp-core/std',
    'sp-std/std',
    'sp-runtime/std',
    'pallet-assets/std',
    'pallet-balances/std',
    'pallet-timestamp/std',
    'polkadot-runtime-common/std',
    'fp-rpc/std',
    'fp-self-contained/std',
    'pallet-evm-precompile-blake2/std',
    'pallet-evm-precompile-simple/std',
    'pallet-evm-precompile-bn128/std',
    'pallet-evm-precompile-dispatch/std',
    'pallet-evm-precompile-ed25519/std',
    'pallet-evm-precompile-modexp/std',
    'pallet-evm-precompile-sha3fips/std',
    'pallet-evm-precompile-assets-erc20/std',
    'pallet-evm-precompile-balances-erc20/std',
    'primitives/std',
]
try-runtime        = [
    'frame-support/try-runtime',
    'frame-system/try-runtime',
    'pallet-assets/try-runtime',
    'pallet-balances/try-runtime',
    'pallet-timestamp/try-runtime',
    'polkadot-runtime-common/try-runtime',
    'fp-self-contained/try-runtime',
]