[package]
authors = ['Parallel Team']
edition = '2018'
name    = 'pallet-loans-rpc-runtime-api'
version = '3.0.0'

[dependencies]
codec           = { package = 'parity-scale-codec', version = '2.0.0', default-features = false, features = ['derive'] }
sp-api          = { git = 'https://github.com/paritytech/substrate', branch = 'polkadot-v0.9.8', default-features = false }
sp-runtime      = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.8', version = '3.0.0', default-features = false }
primitives      = { package = 'parallel-primitives', path = '../../../../primitives', default-features = false }

[features]
default = ['std']
std = [
    'codec/std',
    'sp-api/std',
    'sp-runtime/std',
]