[package]
authors = ['Parallel Team']
edition = '2018'
name    = 'pallet-liquid-staking'
version = '1.7.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
codec              = { package = 'parity-scale-codec', version = '2.3.1', features = ['max-encoded-len'], default-features = false }
frame-benchmarking = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11', default-features = false, optional = true }
frame-support      = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11', default-features = false }
frame-system       = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11', default-features = false }
pallet-assets      = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11', default-features = false }
scale-info         = { version = '1.0', default-features = false, features = ['derive'] }
sp-runtime         = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11', default-features = false }
sp-std             = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11', default-features = false }
xcm                = { git = 'https://github.com/paritytech/polkadot.git', branch = 'release-v0.9.11', default-features = false }

cumulus-primitives-core = { git = 'https://github.com/paritytech/cumulus.git', branch = 'polkadot-v0.9.11', default-features = false }

# parallel pallets
primitives = { package = 'parallel-primitives', path = '../../primitives', default-features = false }

[dev-dependencies]
pallet-babe      = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11' }
pallet-balances  = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11' }
pallet-session   = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11' }
pallet-staking   = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11' }
pallet-timestamp = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11' }
pallet-utility   = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11' }
serde            = { version = '1' }
sp-core          = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11' }
sp-io            = { git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.11' }

kusama-runtime              = { git = 'https://github.com/paritytech/polkadot.git', branch = 'release-v0.9.11' }
pallet-xcm                  = { git = 'https://github.com/paritytech/polkadot.git', branch = 'release-v0.9.11' }
polkadot-core-primitives    = { git = 'https://github.com/paritytech/polkadot.git', branch = 'release-v0.9.11' }
polkadot-parachain          = { git = 'https://github.com/paritytech/polkadot.git', branch = 'release-v0.9.11' }
polkadot-runtime-parachains = { git = 'https://github.com/paritytech/polkadot.git', branch = 'release-v0.9.11' }
xcm-builder                 = { git = 'https://github.com/paritytech/polkadot.git', branch = 'release-v0.9.11' }
xcm-executor                = { git = 'https://github.com/paritytech/polkadot.git', branch = 'release-v0.9.11' }
xcm-simulator               = { git = 'https://github.com/paritytech/polkadot.git', branch = 'release-v0.9.11' }

cumulus-pallet-dmp-queue        = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.11' }
cumulus-pallet-parachain-system = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.11' }
cumulus-pallet-xcm              = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.11' }
cumulus-pallet-xcmp-queue       = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.11' }
cumulus-primitives-core         = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.11' }
parachain-info                  = { git = 'https://github.com/paritytech/cumulus', branch = 'polkadot-v0.9.11' }

orml-xcm-support = { git = 'https://github.com/open-web3-stack/open-runtime-module-library.git' }
orml-xtokens     = { git = 'https://github.com/open-web3-stack/open-runtime-module-library.git' }

[features]
default            = ['std']
runtime-benchmarks = ['frame-benchmarking']
std                = [
  'codec/std',
  'frame-support/std',
  'frame-system/std',
  'frame-benchmarking/std',
  'sp-runtime/std',
  'sp-std/std',
  'primitives/std',
  'pallet-assets/std',
  'xcm/std',
  'cumulus-primitives-core/std',
  'scale-info/std',
]
try-runtime        = ['frame-support/try-runtime']
