name: Coverage

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**/README.md"
  push:
    branches:
      - master
    paths-ignore:
      - "**/README.md"

env:
  TARPAULIN_VERSION: 0.20.1
  CARGO_INCREMENTAL: 0
jobs:
  clean-up-actions:
    runs-on: self-hosted
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}
  test:
    name: Coverage Report
    runs-on: self-hosted
    needs: clean-up-actions
    steps:
      - name: cleaning up
        run: |
          echo '${{ secrets.RUNNER_PASSWORD }}' | sudo -S chown -R $USER:$USER $GITHUB_WORKSPACE
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2022-05-11
          components: rustfmt
          target: wasm32-unknown-unknown
          default: true
      - name: Run cargo-tarpaulin
        run: |
          wget https://github.com/xd009642/tarpaulin/releases/download/${{ env.TARPAULIN_VERSION }}/cargo-tarpaulin-${{ env.TARPAULIN_VERSION }}-travis.tar.gz
          tar -zxvf cargo-tarpaulin-${{ env.TARPAULIN_VERSION }}-travis.tar.gz -C $HOME/.cargo/bin
          cargo +nightly-2022-05-11 tarpaulin --verbose --no-fail-fast \
            -p pallet-loans \
            -p pallet-liquid-staking \
            -p pallet-farming \
            -p pallet-prices \
            -p pallet-amm \
            -p pallet-stableswap \
            -p pallet-router \
            -p pallet-crowdloans \
            -p pallet-emergency-shutdown \
            -p pallet-bridge \
            -p pallet-asset-registry \
            -p pallet-streaming \
            --timeout 300 --out Xml
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
          token: ${{secrets.CODECOV_TOKEN}}
