name: Deploy Docs to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  docs:
    if: github.repository == 'parallel-finance/parallel'
    name: GitHub Pages
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [nightly-2021-06-17]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v1

      - name: Install Rust toolchain ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - name: Install wasm32-unknown-unknown for ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          target: wasm32-unknown-unknown
          override: true

      - name: Build Documentation
        uses: actions-rs/cargo@v1
        env:
          RUSTDOCFLAGS: "--enable-index-page -Zunstable-options"
        with:
          toolchain: ${{ matrix.rust }}
          command: doc
          args: --workspace --exclude heiko-runtime --exclude parallel-runtime --exclude vanilla-runtime --exclude parallel --exclude pallet-loans-benchmarking --no-deps

      - name: Use Custom Domain
        run: |
          echo "api-docs.parallel.fi" > target/doc/CNAME

      - name: Deploy Documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_branch: gh-pages
          publish_dir: ./target/doc
          force_orphan: true
